/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #e0d2d2;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font: 4em sans-serif;
    margin-top: 2vh;
    color: darkblue;
}
.containerLogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btn-success {
    border: none;
    border-radius: 25px;
    margin-top: 2vh;
}

/* Estilos específicos para el formulario de inicio de sesión */

#login {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf5f5;
    padding: 5vh;
    border-radius: 25px;
}
div > h2 {
    margin-bottom: 5vh;
    font: 50px bold;
}
#password-input {
    margin-top: 10px;
}

/* Estilos específicos para la sección de transacciones */

#transactions {
    display: none;
}

#balance p {
    font-size: 18px;
    font-weight: bold;
}

#deposit-input,
#withdraw-input,
#transfer-input {
    width: 80%;
    margin-right: 10px;
}

.hidden {
    display: none;
}

#logout-btn {
    margin-top: 10px;
}

@media (min-width: 576px) {
    #logout-btn {
        float: right;
        margin-top: 0;
        margin-left: 10px;
    }
}